# URL API Backend Laravel (Wajib menggunakan domain HTTPS publik untuk produksi)
EXPO_PUBLIC_API_URL=https://pedagogiai.smpm12gkb.sch.id/api

# MapTiler API Key (Opsional di mobile, karena mobile membaca dinamis dari endpoint /api/location-attendance/map-config)
EXPO_PUBLIC_MAPTILER_KEY=M1CiM6jskUj58Q4gTQHY
EXPO_PUBLIC_API_URL=http://192.168.1.14:8000/api
